@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
  font-family: 'Titty Fuck';
  src: URL('MagnificChaosPersonalUseRegular-x3J88.ttf') format('truetype');
}

:root {
  color-scheme: dark;
}
body {
  background-color: #1a1e2e;
  color: white;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5em;
}
p {
  font-size: 1.5em;
}
a {
  color: white;
  position: relative;
  text-decoration: none;
}
.a-hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.a-hover:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

hr {
  border: 1px solid #996EFF;
}

#text-container-container {
  display: flex;
  justify-content: center;
}
#text-container {
  /* max-width: 70%; */
  min-width: 70%;
}

textarea {
  background-color: #1a1e2e;
  border: 1px solid #996EFF;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  height: 4em;
  width: 80%;
  padding: 10px;
}
textarea::placeholder {
  color: rgb(204, 204, 204);
}

#textarea-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#textarea-button input[type=submit] {
  transform: rotate(90deg);
  color: white;
  background-color: #1a1e2e;
  border: none;
  font-size: 1.5em;
}

input[type=submit], button {
  background-color: #1a1e2e;
  border: 1px solid white;
  font-size: 3em;
  padding: 1px 10px;
  transition: 0.25s;
}

#file-upload-container {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  margin-left: -70px;
}
#file-download-container {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 0;
  width: 350px;
}
#file-upload {
  /* position: absolute; */
  font-size: 2.5em;
  transform: rotate(-90deg);
}
#file-download {
  font-size: 2.5em;
  transform: rotate(90deg);
  /* height: 69px; */
  /* word-break: keep-all; */
  white-space: nowrap;
}
#ftp-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  /* display: flex;
  justify-content: center; */ /* rotates the text 90 degrees lmao */
}

input::file-selector-button {
  background-color: #1a1e2e;
  padding: 10px;
  border: 1px solid white;
}

input[type=text] {
  background-color: #1a1e2e;
  border: 1px solid white;
}