<link rel="stylesheet" type="text/css" href="style.css">

<div id="file-download-container">
    <p id="file-download">to&nbsp;download:&nbsp;&sol;download&sol;filename</p>
</div>
<div id="file-upload-container">
    <a id="file-upload" href="/uploadfile">file upload</a>
</div>
<div id="ftp-container">
    <a id="file-upload" href="/ftp" style="margin-right: 50px">ftp</a>
    <a id="file-upload" style="margin-right: 50px">music: /music/downloadedfilename</a>
    <a id="file-upload">to stop music: /musicstop</a>
</div>
<form action="#" method="post">
    <div id="textarea-button">
        <textarea name="text" placeholder="msg, the grave accent / back-tick ( ` ) is not allowed"></textarea>
        <input type="submit" value="submit">
    </div>
</form>
<div id="text-container-container"><div id="text-container"></div></div>
<script>
    let data = `<%- data %>`;
    data.split("\n").reverse().forEach(element => {
        if (element === "") return;
        let sender = document.createElement("h1");
        let msg = document.createElement("p");
        sender.innerText = element.split(" ")[0].replace("-at-", " at ").split("?").join(" ").replace("|||", " ");
        msg.innerText = element.split(" ").slice(1, element.split(" ").length).join(" ");
        document.getElementById("text-container").appendChild(sender);
        document.getElementById("text-container").appendChild(msg);
        document.getElementById("text-container").appendChild(document.createElement("hr"));
    });
</script>