<link rel="stylesheet" type="text/css" href="style.css">

<form action="#" method="post" style="text-align: center;">
    <p style="font-size: 3em;">who be you?</p><br><br>
    <input type="text" style="font-size: 3em;" name="name">
    <input type="submit" value="submit" style="font-size: 3em;">
</form>