<link rel="stylesheet" type="text/css" href="style.css">

<p style="font-size: 2.5em;"><a href="/">back</a><br><br></p>
<form id="uploadForm" enctype="multipart/form-data" action="#" method="post">
    <input style="font-size: 1.5em; background-color: #1a1e2e; border: none;" type="file" name="myfile" /><br/><br/>
    <input style="font-size: 1.5em; background-color: #1a1e2e; border: 1px solid white; padding: 10px;" type="submit" value="Upload">
</form>